.whole-page{
    display: flex;
    width: 100%;
    margin: 0 auto;
    flex-wrap: wrap;
}
.row{
    display: flex;
    width: 100%;
    justify-content: center;
    
}
.header{
    display: flex;
    width: 100%;
    margin-bottom: 7%;
}
.header img{
    width: 100%;
}
.title{
    font-size: 3vw;
    font-family: monospace;
    background: -webkit-linear-gradient(cadetblue , #faeaa5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}
.search-box{
    display: flex;
    justify-content: center;
    width: 50%; 
    margin-bottom: 7%; 
}
.result{
    display: flex;
    justify-content: center;
    width: 100%;
}
.owner-tbl{
    width: 100%;
    text-align: center;
    color: cadetblue;
    margin-bottom: 3%;
}
.owner-tbl img{
    width: 70%;
    height: 45%;
}
.owner-tbl td{
    width: 25%;
}
.repo-tbl{
    width: 100%;
    color: cadetblue;
    font-size: 1.5vw;  
}
.table td{
    vertical-align: middle !important;
}
@media(max-width:768px){
   .whole-page{
       width: 120%;
   }
   .owner-tbl{
    font-size: 2.7vw;
    font-weight: bold;
   }
   .owner-tbl img {
    width: 100%;
    height: 30%;
    }
    .repo-tbl{
        font-size: 3.5vw;  
    }
    .search-box{
        font-size: 1vw;
    }
    .title{
        font-size: 5vw;
    }
}


